<!DOCTYPE html>
<html lang="en">

<% include ../partials/scripts %>



<body>
    <% include ../partials/nav %>

    <h1 class="text-center">Admin Section</h1>
    <br>

    <ul class="list-group mx-auto text-center" style="width: 50vw;">
        <li class="list-group-item bg-light">
            <a href="/api/admin/add-category">Add New Category</a>
        </li>
        <li class="list-group-item bg-light">
            <a href="/api/admin/get-all-categories">Generate fake products</a>
        </li>
        <li class="list-group-item bg-light">
            <a href="/api/admin/removeproduct">Remove a product</a>
        </li>
    </ul>
    
</body>
</html>