.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:0%;
    content: attr(data-count);
    font-size:55%;
    padding:0.45em;
    border-radius:999px;
    line-height: .75em;
    color: white;
    color: rgb(19, 19, 19);;
    text-align:center;
    min-width: 2em;
    font-weight:bold;
    background: white;
    border-style:solid;
}

.fa-shopping-bag {
    color: orange;
}